In [63]:
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy import stats
from scipy.stats import linregress
import gmaps
import os
import json
import pprint as pprint

In [64]:
#read in the csv file from flow data file
flow_data = pd.read_csv('final_flow_data.csv')
flow_data.head()

,State,County,Returns Total,Total AGI,Outflow,Outflow AGI,Inflow,Inflow AGI,Net Inflow(Outflow),Percentage Flow
0,NV,Eureka County,556,38167,26,2961,78,4974,52,9.353
1,NE,Hooker County,279,10670,-1,-1,21,874,22,7.885
2,ND,McKenzie County,3461,464151,575,46125,837,52025,262,7.570
3,CO,Mineral County,324,21265,-1,-1,22,1256,23,7.099
4,ND,Williams County,12437,1217462,1644,112302,2504,137024,860,6.915

In [65]:
coords = pd.read_csv('us_cnty_lat_lng.csv')
coords

       INTPTLAT    INTPTLNG        COUNTY NAME USPS
0     32.532237  -86.646440     Autauga County   AL
1     30.659218  -87.746067     Baldwin County   AL
2     31.870253  -85.405104     Barbour County   AL
3     33.015893  -87.127148        Bibb County   AL
4     33.977358  -86.566440      Blount County   AL
...         ...         ...                ...  ...
3137  41.660328 -108.875677  Sweetwater County   WY
3138  44.048662 -110.426087       Teton County   WY
3139  41.284726 -110.558947       Uinta County   WY
3140  43.878831 -107.669052    Washakie County   WY
3141  43.846213 -104.570020      Weston County   WY

[3142 rows x 4 columns]

In [66]:
coords = coords.rename(columns = {'INTPTLAT': 'Latitude', 'INTPTLNG': 'Longitude', 'COUNTY NAME': 'County', 'USPS': 'State'})
coords

       Latitude   Longitude             County State
0     32.532237  -86.646440     Autauga County    AL
1     30.659218  -87.746067     Baldwin County    AL
2     31.870253  -85.405104     Barbour County    AL
3     33.015893  -87.127148        Bibb County    AL
4     33.977358  -86.566440      Blount County    AL
...         ...         ...                ...   ...
3137  41.660328 -108.875677  Sweetwater County    WY
3138  44.048662 -110.426087       Teton County    WY
3139  41.284726 -110.558947       Uinta County    WY
3140  43.878831 -107.669052    Washakie County    WY
3141  43.846213 -104.570020      Weston County    WY

[3142 rows x 4 columns]

In [67]:
coords = coords[['State', 'County', 'Latitude', 'Longitude']]
coords.head()

  State          County   Latitude  Longitude
0    AL  Autauga County  32.532237 -86.646440
1    AL  Baldwin County  30.659218 -87.746067
2    AL  Barbour County  31.870253 -85.405104
3    AL     Bibb County  33.015893 -87.127148
4    AL   Blount County  33.977358 -86.566440

In [68]:
coords.head().iloc[0,1]

'Autauga County'

In [69]:
flow_data.sort_values(['State', 'County']).head().iloc[0,1]

'Autauga County'

In [41]:
flow_data['County'].value_counts()

Washington County         30
Jefferson County          25
Franklin County           24
Jackson County            23
Lincoln County            23
                          ..
Carver County              1
Cape Girardeau County      1
Banks County               1
Apache County              1
Jennings County            1
Name: County, Length: 1741, dtype: int64

In [74]:
final_coords = flow_data.merge(coords, on=['State', 'County'])
final_coords.head()

,State,County,Returns Total,Total AGI,Outflow,Outflow AGI,Inflow,Inflow AGI,Net Inflow(Outflow),Percentage Flow,Latitude,Longitude
0,NV,Eureka County,556,38167,26,2961,78,4974,52,9.353,39.977788,-116.272208
1,NE,Hooker County,279,10670,-1,-1,21,874,22,7.885,41.920317,-101.117324
2,ND,McKenzie County,3461,464151,575,46125,837,52025,262,7.570,47.742475,-103.403215
3,CO,Mineral County,324,21265,-1,-1,22,1256,23,7.099,37.549067,-107.003236
4,ND,Williams County,12437,1217462,1644,112302,2504,137024,860,6.915,48.355765,-103.501333

In [75]:
final_coords.to_csv('final_geocoord.csv', index=False)