In [26]:
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy import stats
from scipy.stats import linregress
import gmaps
import os
import json
import pprint as pprint

rent_data = "FY2018_50_County_rev.csv"

final_flow_data = "final_flow_data.csv"

final_flow_df = pd.read_csv(final_flow_data)

rent_data_df = pd.read_csv(rent_data)

rent_data_df

del rent_data_df['fips2010']
del rent_data_df['state']
del rent_data_df['cbsasub18']
del rent_data_df['areaname18']
del rent_data_df['county']
del rent_data_df['cousub']
del rent_data_df['name']
del rent_data_df['pop2010']
del rent_data_df['hu2010']
del rent_data_df['rent50_0']
del rent_data_df['rent50_3']
del rent_data_df['rent50_4']


rent_data_df = rent_data_df.rename(columns = {"rent50_1":"1_BDRM_MEAN","rent50_2":"2_BDRM_MEAN","cntyname":"County","state_alpha":"State"})

# hotel_df.rename(columns = {0:"Hotel Name",1:"Lat",2:"Lng"})


rent_data_df["County"] = rent_data_df["County"].str.rstrip('County')

rent_data_df["County"] = rent_data_df["County"].str.rstrip('Municipi')

rent_data_df

      1_BDRM_MEAN  2_BDRM_MEAN      County State
0             742          890    Autauga     AL
1             809          929    Baldwin     AL
2             531          706    Barbour     AL
3             832          955       Bibb     AL
4             832          955     Blount     AL
...           ...          ...         ...   ...
4765          478          577    Yabucoa     PR
4766          340          390      Yauco     PR
4767          833         1017   St. Croix    VI
4768         1284         1596     St. Joh    VI
4769          921         1152  St. Thomas    VI

[4770 rows x 4 columns]

NameError: name 'final_flow_df_rent_merge' is not defined