In [60]:
import pandas as pd

In [61]:
#import unemployement csv file
unemployment="Backup/unemployment data 2018 by county .csv"

In [62]:
#create dataframe for the umemployment file
unemployment_df = pd.read_csv(unemployment,header=None)
unemployment_df.head(10)

,0,1,2,3,4,5,6,7,8,9
0,"Labor Force Data by County, 2018 Annual Averages",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,State,County,NaN,NaN,NaN,NaN,NaN,NaN,Unemploy-
3,LAUS,FIPS,FIPS,NaN,NaN,NaN,Labor,NaN,NaN,ment Rate
4,Code,Code,Code,County Name/State Abbreviation,Year,NaN,Force,Employed,Unemployed,(%)
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CN0100100000000,01,001,"Autauga County, AL",2018,NaN,"25,957","25,015",942,3.6
7,CN0100300000000,01,003,"Baldwin County, AL",2018,NaN,"93,849","90,456","3,393",3.6
8,CN0100500000000,01,005,"Barbour County, AL",2018,NaN,"8,373","7,940",433,5.2
9,CN0100700000000,01,007,"Bibb County, AL",2018,NaN,"8,661","8,317",344,4.0

In [63]:
#only pick the columns that needed 
df1=unemployment_df[[3, 4,6,7,8,9]]
df1.head(8)

,3,4,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,Unemploy-
3,NaN,NaN,Labor,NaN,NaN,ment Rate
4,County Name/State Abbreviation,Year,Force,Employed,Unemployed,(%)
5,NaN,NaN,NaN,NaN,NaN,NaN
6,"Autauga County, AL",2018,"25,957","25,015",942,3.6
7,"Baldwin County, AL",2018,"93,849","90,456","3,393",3.6

In [74]:
#drop all the non value rows for the dataframe
new=df1.drop(df1.index[0])
new1=new.drop(new.index[0])
new2=new1.drop(new1.index[0])
new3=new2.drop(new2.index[0])
new4=new3.drop(new3.index[1])
new4.columns = new4.iloc[0]
new5=new4.drop(new4.index[0])
new6=new5.dropna()
new6

4,County Name/State Abbreviation,Year,Force,Employed,Unemployed,(%)
6,"Autauga County, AL",2018,"25,957","25,015",942,3.6
7,"Baldwin County, AL",2018,"93,849","90,456","3,393",3.6
8,"Barbour County, AL",2018,"8,373","7,940",433,5.2
9,"Bibb County, AL",2018,"8,661","8,317",344,4.0
10,"Blount County, AL",2018,"25,006","24,128",878,3.5
...,...,...,...,...,...,...
3220,"Vega Baja Municipio, PR",2018,"13,199","11,826","1,373",10.4
3221,"Vieques Municipio, PR",2018,"2,734","2,283",451,16.5
3222,"Villalba Municipio, PR",2018,"7,329","6,164","1,165",15.9
3223,"Yabucoa Municipio, PR",2018,"8,826","7,566","1,260",14.3
3224,"Yauco Municipio, PR",2018,"9,770","8,329","1,441",14.7

In [76]:
#split county and state from one column to two columns
new6[['County','State']]= new6['County Name/State Abbreviation'].str.split(',', expand=True)
new6

4,County Name/State Abbreviation,Year,Force,Employed,Unemployed,(%),County,State
6,"Autauga County, AL",2018,"25,957","25,015",942,3.6,Autauga County,AL
7,"Baldwin County, AL",2018,"93,849","90,456","3,393",3.6,Baldwin County,AL
8,"Barbour County, AL",2018,"8,373","7,940",433,5.2,Barbour County,AL
9,"Bibb County, AL",2018,"8,661","8,317",344,4.0,Bibb County,AL
10,"Blount County, AL",2018,"25,006","24,128",878,3.5,Blount County,AL
...,...,...,...,...,...,...,...,...
3220,"Vega Baja Municipio, PR",2018,"13,199","11,826","1,373",10.4,Vega Baja Municipio,PR
3221,"Vieques Municipio, PR",2018,"2,734","2,283",451,16.5,Vieques Municipio,PR
3222,"Villalba Municipio, PR",2018,"7,329","6,164","1,165",15.9,Villalba Municipio,PR
3223,"Yabucoa Municipio, PR",2018,"8,826","7,566","1,260",14.3,Yabucoa Municipio,PR
3224,"Yauco Municipio, PR",2018,"9,770","8,329","1,441",14.7,Yauco Municipio,PR

In [78]:
#reorganized the order of the columns and get the final data frame
unemployment_df = new6[["County","State","Year","Force","Employed","Unemployed","(%)"]]
unemployment_df

4,County,State,Year,Force,Employed,Unemployed,(%)
6,Autauga County,AL,2018,"25,957","25,015",942,3.6
7,Baldwin County,AL,2018,"93,849","90,456","3,393",3.6
8,Barbour County,AL,2018,"8,373","7,940",433,5.2
9,Bibb County,AL,2018,"8,661","8,317",344,4.0
10,Blount County,AL,2018,"25,006","24,128",878,3.5
...,...,...,...,...,...,...,...
3220,Vega Baja Municipio,PR,2018,"13,199","11,826","1,373",10.4
3221,Vieques Municipio,PR,2018,"2,734","2,283",451,16.5
3222,Villalba Municipio,PR,2018,"7,329","6,164","1,165",15.9
3223,Yabucoa Municipio,PR,2018,"8,826","7,566","1,260",14.3
3224,Yauco Municipio,PR,2018,"9,770","8,329","1,441",14.7

In [79]:
#save the csv file
unemployment_df.to_csv('output_data/unemployment.csv', index=False)